/* Här är styling som gäller för hela sidan 
/Images/pexels-free-creative-stuff-5649204.mp4"
*/
body {
  box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color: #8e5431;
  /*color: #ff726c;*/
  margin: 0;
}

/* Här finns all styling för knappen */

.button {
  background-color: white;
  color: #e44f9c;
  padding: 25px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

/* Här är styling som gäller för alla rubriker och texter */

h1 {
  margin: 1px;
  font-size: 65px;
}

h2 {
  font-size: 40px;
  font-weight: 200;
  margin-top: auto;
}

h3 {
  margin-top: 50px;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  font-weight: 200;
  color: black;
  margin-bottom: 25px;
}

#banner {
  position: relative;
  height: 860px;
  width: 100%;
  overflow: hidden;
}
#videobcg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -100;
}
#meButton {
  margin-bottom: 55px;
}

.thirdGreatness {
  margin-bottom: 75px;
}

.space-fontawesome {
  margin-bottom: 5px;
}

/* Här är styling för text boxen som vi använder runt texterna i about-me sektionen och greatness sektionen. */

.text-container {
  width: 60%;
  margin: 0 auto;
}

/* Här är styling för about-me sektionen */

.about-me {
  /*background-color: #ff726c; */
  padding: 70px 22px;
  color: white;
  text-align: center;
}

/* Här är styling för bilden som ligger i about-me sektionen */

.about-me img {
  width: 250px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* Här är styling för greatness sektionen */

.info-box {
  width: 80%;
  margin: auto;
  padding: 85px 0 85px 0;
  text-align: justify;
}

.why {
  font-weight: bold;
  color: #96304c;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 40%;
}

.desc-more {
  color: black;
}

#info-box-wrapper {
  background-color: #ffd6e9;
}

a.highlighted-link:link {
  font-weight: 400;
  text-decoration: underline;
}

/* Här är styling för footern på sidan */

footer {
  background-color: #fff;
  padding: 20px 30px;
  text-align: center;
}

footer h3 {
  margin-top: 30px;
}

footer p {
  color: #e44f9c;
}

a:link {
  text-decoration: none;
  color: #e44f9c;
}

/* visited link */
a:visited {
  color: bold;
}

/* mouse over link */
a:hover {
  font-weight: bold;
}

/* selected link */
a:active {
  font-weight: bold;
}
